.container{
  width:840px;
  height:840px;
  background-color: blue;
  display:flex;
  flex-wrap: wrap;

}

.square{
  width:50px;
  height:50px;
  background-color: red;
  border:solid 1px;
}

/* .square:hover{
  background-color: yellow;
} */
.hover-square{
  background-color: yellow;
}
